
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>歴代 GT-R</title>
</head>
<body>
    <h1>歴代 GT-R 登場車種</h1>
    
    <table border="1">
        <tr>
            <th>登場順</th>
            <th>画像</th> <th>通称</th>
            <th>車種名</th>
        </tr>
        <% data.forEach((item) => { %>
        <tr>
            <td><%= item.id %></td>
            
            <td>
                <img src="/<%= item.image %>" width="150">
            </td>
            
            <td><%= item.code %></td>
            <td><%= item.name %></td>
        </tr>
        <% }); %>
    </table>
</body>
</html>